html, body {
  background-color: white;
}

.check_space {
  margin-right: 30px;
}

.hwrc-tab-icon {
  vertical-align: middle;
  padding-right: 4px;
}


.filterAlert{
  background-color: red;
}

#progress, #loaded {
  text-align: center;
}

#wait_icon {
  margin-left: 50%;
}


#finish{

  margin-left: 10px;

}

.warningTxt {
  color: red;
  font-weight: bold;
}

.warningBtn {
  background-color: red;
}